/.vs
/Release
/Debug
/delivery.zip
/delivery/BrushTips/2x1.igf
/delivery/BrushTips/round3.igf
/delivery/BrushTips/Round15.igf
/delivery/BrushTips/square1.igf
/delivery/BrushTips/square2.igf
/delivery/FreeImage.dll
/delivery/Gradients/Blue Shine.grd
/delivery/Gradients/gnu.grd
/delivery/Gradients/Gold.grd
/delivery/Gradients/Gray.grd
/delivery/Gradients/Grey Circle.grd
/delivery/Gradients/Sand1.grd
/delivery/Gradients/SimpleBlue.grd
/delivery/Gradients/SimpleGray.grd
/delivery/Painter.exe
/filter
/Painter/BrushTips/round3.igf
/Painter/BrushTips/Round15.igf
/Painter/BrushTips/square1.igf
/Painter/BrushTips/square2.igf
/Painter/FreeImage.dll
/Painter/Gradients/Blue Shine.grd
/Painter/Gradients/Gold.grd
/Painter/Gradients/Gray.grd
/Painter/Painter.exe
/Painter2015.zip
/painter.aps
/painter.clw
/painter.dsp
/painter.dsw
/Painter.exe
/painter.ncb
/painter.sdf
/painter.suo
/painter.v12.suo
/painter.VC.db
/painter.vcproj.EASYCASH_RAT.easygr.user
/painter.vcproj.easygr-PC.easygr.user
/painter.vcproj
